.git
.github
.vscode
.vscode/**
.vscode-test/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.*.json
node_modules
.yarnrc
**/yarn.lock
**/package-lock.json
.eslintrc.json
**/.eslintrc.json
.eslintignore
.editorconfig
.prettierrc
.prettierignore
zzzbuild/**
scripts/**
src/**
tests/**
!out/**
!src/webview/assets/**
.nyc_output
coverage
**/*.vsix
**/.DS_Store
**/__pycache__
nyc.config.js
vsc-extension-quickstart.md